* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  display: flex;

  .paint-tools {
    width: 75px;
    padding: 2px;
    background-color: #333;

    .tool {
      border: 1px solid #66a;
      padding: 10px;
      border-radius: 50%;
      margin: 10px 0;
      width: 70px;
      height: 70px;

      .icon {
        width: 100%;
        height: 100%;
      }

      &.active {
        background-color: #888;
      }
    }
  }

  .content-and-top-wrapper {
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .top-side {
    background-color: #ededee;
    padding: 20px;
  }

  .content-wrapper {
    flex-grow: 1;
    background-color: grey;
    position: relative;

    .content-paint {
      position: absolute;
      display: flex;
      flex-direction: column;
      border: 2px solid lightgrey;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;

      &.moving {
        user-select: none;
      }

      &__header {
        text-align: center;
        background-color: lightgrey;
      }

      &__canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.canvas-text {
  border: 0;
  padding: 0;
  margin: 0;
  resize: none;
  background-color: transparent;
  width: 5px;
  outline: none;
}